// GLOBAL
#checky__background
    display: flex
    justify-content: center
    align-items: center
#checky__dialog
    #checky__dialog-footer
        display: flex
        justify-content: space-between
#checky__overview
    #checky__overview-header
        display: flex
        justify-content: space-between
        align-items: center
        >div
            display: flex
            align-items: center
            strong
                margin-right: 5px
    #checky__overview-body
        overflow-y: auto
#checky__replace
    position: relative
    width: 250px
    #checky__suggestions
        position: absolute
        max-height: 200px
        width: 100%
        display: none
        overflow-y: auto
        .checky__suggestion, #checky__more-suggestions
            display: flex
            align-items: center
            height: 30px
            padding: 10px
            cursor: pointer
            box-sizing: content-box
            transition: 250ms ease-in-out background-color
            *
                pointer-events: none
            img
                height: inherit
                width: inherit
                margin-right: 10px

// HIVE BLOG
.checky__hive-blog
    #checky__dialog
        display: block
        top: 0
        #checky__dialog-footer
            flex-direction: row-reverse
    #checky__overview-body
        max-height: 165px
    #checky__extracts
        padding: 1rem
        .checky__extract:last-child
            blockquote, p
                margin: 0
    .button
        margin-right: 0 !important
    &#checky__background
        overflow-y: hidden
.theme-light
    .checky__hive-blog
        #checky__extracts
            background-color: #f4f4f4
        #checky__replace
            #checky__suggestions
                box-shadow: 0 5px 10px #80808052
                .checky__suggestion, #checky__more-suggestions
                    background-color: white
                    &:hover
                        background-color: lightgrey
.theme-dark
    .checky__hive-blog
        #checky__extracts
            background-color: #2c3136
            blockquote p
                color: #A6B2BA
        #checky__replace
            #checky__suggestions
                box-shadow: 0 1px 3px black 
                .checky__suggestion, #checky__more-suggestions
                    background-color: #212529
                    &:hover
                        background-color: #2c3136
            