#checky__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checky__dialog #checky__dialog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#checky__overview #checky__overview-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checky__overview #checky__overview-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checky__overview #checky__overview-header > div strong {
  margin-right: 5px;
}

#checky__overview #checky__overview-body {
  overflow-y: auto;
}

#checky__replace {
  position: relative;
  width: 250px;
}

#checky__replace #checky__suggestions {
  position: absolute;
  max-height: 200px;
  width: 100%;
  display: none;
  overflow-y: auto;
}

#checky__replace #checky__suggestions .checky__suggestion, #checky__replace #checky__suggestions #checky__more-suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 250ms ease-in-out background-color;
  transition: 250ms ease-in-out background-color;
}

#checky__replace #checky__suggestions .checky__suggestion *, #checky__replace #checky__suggestions #checky__more-suggestions * {
  pointer-events: none;
}

#checky__replace #checky__suggestions .checky__suggestion img, #checky__replace #checky__suggestions #checky__more-suggestions img {
  height: inherit;
  width: inherit;
  margin-right: 10px;
}

.checky__hive-blog #checky__dialog {
  display: block;
  top: 0;
}

.checky__hive-blog #checky__dialog #checky__dialog-footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.checky__hive-blog #checky__overview-body {
  max-height: 165px;
}

.checky__hive-blog #checky__extracts {
  padding: 1rem;
}

.checky__hive-blog #checky__extracts .checky__extract:last-child blockquote, .checky__hive-blog #checky__extracts .checky__extract:last-child p {
  margin: 0;
}

.checky__hive-blog .button {
  margin-right: 0 !important;
}

.checky__hive-blog#checky__background {
  overflow-y: hidden;
}

.theme-light .checky__hive-blog #checky__extracts {
  background-color: #f4f4f4;
}

.theme-light .checky__hive-blog #checky__replace #checky__suggestions {
  -webkit-box-shadow: 0 5px 10px #80808052;
          box-shadow: 0 5px 10px #80808052;
}

.theme-light .checky__hive-blog #checky__replace #checky__suggestions .checky__suggestion, .theme-light .checky__hive-blog #checky__replace #checky__suggestions #checky__more-suggestions {
  background-color: white;
}

.theme-light .checky__hive-blog #checky__replace #checky__suggestions .checky__suggestion:hover, .theme-light .checky__hive-blog #checky__replace #checky__suggestions #checky__more-suggestions:hover {
  background-color: lightgrey;
}

.theme-dark .checky__hive-blog #checky__extracts {
  background-color: #2c3136;
}

.theme-dark .checky__hive-blog #checky__extracts blockquote p {
  color: #A6B2BA;
}

.theme-dark .checky__hive-blog #checky__replace #checky__suggestions {
  -webkit-box-shadow: 0 1px 3px black;
          box-shadow: 0 1px 3px black;
}

.theme-dark .checky__hive-blog #checky__replace #checky__suggestions .checky__suggestion, .theme-dark .checky__hive-blog #checky__replace #checky__suggestions #checky__more-suggestions {
  background-color: #212529;
}

.theme-dark .checky__hive-blog #checky__replace #checky__suggestions .checky__suggestion:hover, .theme-dark .checky__hive-blog #checky__replace #checky__suggestions #checky__more-suggestions:hover {
  background-color: #2c3136;
}
/*# sourceMappingURL=style.css.map */